/* Wildcard selector to override default styles given to the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Page Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration:none;
    color:#239419;
}

/* Header */
header {
    background-color: whitesmoke;
    padding: 0 1rem;
    position: fixed;
}

/* Main Content */
main {
    background-color: gold;
    /* Makes this element take up extra space to push the footer element down page */
    flex: 1 0 auto;

}

/* Footer */
footer {
    background-color: cadetblue;
    padding: 10px;
}