/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Wildcard selector to override default styles given to the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Page Styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

/* Header */
header {
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  font-family: 'Josefin Sans', sans-serif;

}

header h1 {
  margin: 5px;
  padding-top: 10px;
  font-size: 400%;
}

#logo {
  text-decoration: none;
  color: #0b6e4f;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #073b3a;
  padding: 10px;
  box-shadow: 0 2px 2px #073b3a;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

nav a:hover {
  background-color: #6bbf59;
}

/* Class visually hides the nav checkbox */
.hidden-checkbox {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Class hides elements */
.hidden {
  display: none;
}

/* Class styles nav label as button */
.nav-dropdown-label {
  cursor: pointer;
  padding: 10px;
  background-color: #073b3a;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

#menu {
  font-size: 110%;
  padding: 0;
  margin: 0;
}

.active {
  background-color: #6bbf59;
}

/* Main Content */
main {

  /* Makes this element take up extra space to push the footer element down page */
  flex: 1 0 auto;
}

.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
  z-index: -1;
}

/* Home Page Introduction */

.content-background {
  display: flex;
  justify-content: center;
  margin: 100px 40px 40px 40px;
}

.homepage-description {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 5px solid #0b6e4f;
  border-radius: 0 10px 10px 0;
  width: 50%;
  height: 700px;
  background-color: lightgrey;
}

.homepage-description h2 {
  font-size: 300%;
  color: #0b6e4f;
  font-weight: bold;
}

.homepage-description p {
  font-size: 150%;
  padding-top: 20px;
}

#description-image {
  display: flex;
  justify-content: flex-end;
  border: 5px solid #0b6e4f;
  border-radius: 10px;
  width: 40%;
  height: 700px;
  overflow: hidden
}

/* Index.html Vistor Centre section styles */
/* Image sourced from Geoff Calver at (https://www.flickr.com/photos/geoffcalver/3525926496) */

.visitor-section {
  display: flex;
  flex-wrap: wrap;
  background: url('../images/visitor-centre.webp') no-repeat center/cover;
  font-size: 130%;
  box-shadow: 0 -5px 2px #073b3a;
}

.visitor-section div {
  display: flex;
  flex-basis: 200px;
  flex-grow: 1;
  color: #fafafa;
  background-color: rgba(11, 110, 79, .6);
  padding: 15px;
  text-align: center;
  border: 2px solid #073b3a;
}

.visitor-content {
  display: flex;
  flex-direction: column;

}

.visitor-content h2 {
  padding-bottom: 20px;
}

.visitor-content p {
  padding: 15px;
}

.visitor-section hr {
  color: #073b3a;
  border-style: double;
}

#reminder {
  text-transform: uppercase;
  font-weight: bold;
}

/* Index.html Google Map styles */

#map-section {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 350px;


}

#map {
  height: 100%;
  width: 100%;
  box-shadow: 0 -5px 2px #073b3a;
}

/* Visit-Us.html page styles */
.visit-us-section-right {
  display: flex;
  justify-content: space-between;
  border: 2px solid #073b3a;
  font-size: 20px;
  margin: 20px 70px;
}

.visit-us-section-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border: 2px solid #073b3a;
  font-size: 20px;
  margin: 20px 70px;
}

.visit-us-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex: 1;
  background-color: lightgray;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-style: solid;
  border-color: #073b3a;
}

.visit-us-text h2 {
  font-size: 250%;
  color: #0b6e4f;
  font-weight: bold;
}

.visit-us-text p {
  font-size: 150%;
}

.visit-us-text a {
  color: #0b6e4f;
}

.visit-us-img {
  display: flex;
  background-color: whitesmoke;
  padding: 10px;
  border: 2px solid #073b3a;

}


/* Gallery.html page styles */
#photos img {
  width: 100%;
  border-radius: 10px;
  line-height: 1em;
}

#photos {
  column-count: 4;
  gap: 7px;

}

#gallery-background {
  background: url(../images/green-wallpaper.webp);
  background-repeat: repeat;
}

/* Newsletter.html page styles */

.form-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.form-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  border: 5px solid #073b3a;
  border-radius: 10px;
  background-color: whitesmoke;

}

.form-section h3 {
  font-size: 170%;

}

#newsletter-form {
  max-width: 400px;
  /*background-color: #0b6e4f;*/
  padding: 10px;
  margin-right: 20px;
  font-size: 150%;

}

.newsletter-form h2 {
  color: whitesmoke;
  margin-bottom: 20px;
}

.form-section label {
  font-size: 125%;
  font-weight: bold;
  color: #0b6e4f;
}

.text-input {
  /*background: transparent;*/
  color: black;
  width: 100%;
  height: 50px;
  margin: 5px 0 20px 0;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  padding: 0 5px;
  font-size: 100%;

}

.text-input:hover {
  border-color: #073b3a;
}

.subscribe-button {
  margin-top: 20px;
  border-radius: 5px;
  padding: 15px 32px;
  font-size: 100%;
  background-color: #0b6e4f;
  color: whitesmoke;
}

.subscribe-button:hover {
  background-color: #6bbf59;
  color: whitesmoke;
}

.newsletter-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #073b3a;
  border-radius: 10px;
  padding: 20px;
  font-size: 150%;
  background-color: lightgrey;
}

.newsletter-description h3 {
  font-size: 200%;
  color: #0b6e4f;
}

.newsletter-description p {
  text-align: center;
  margin-top: 10px;
  max-width: 300px;

}

/* Footer */
footer {
  background-color: #073b3a;
  padding: 5px;
  box-shadow: 0 -2px 2px #073b3a;
}

#social-media {
  text-align: center;
  padding: 10px 10px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-box;
}

#social-media a {
  text-decoration: none;
  color: whitesmoke;
  display: inline-flex;
  align-items: center;

}

#social-media i {
  color: whitesmoke;
  font-size: 170%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  display: inline-box;
  padding: 10px;
}

#social-media a span {
  margin-left: 7px;
}

#social-media i:hover {
  background-color: #6bbf59;
}

/* Small screen devices (phones, 430px and below) */
@media screen and (max-width: 430px) {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #073b3a;

  }

  header h1 {
    margin: 5px;
    font-size: 170%;
  }

  nav {
    position: fixed;
    top: 52px;
    left: 0;
    width: 170px;
    background-color: #073b3a;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 2px #073b3a;
    display: none;
    z-index: 99;
  }


  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav a {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
    margin: 5px;
    width: 90%;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
  }


  #nav-dropdown:checked~nav {
    display: block;
  }

  #nav-dropdown {
    position: absolute;
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
  }

  /* Style the label as a button for small screens */
  .nav-dropdown-label {
    display: block;
    margin: 10px;
    order: -1;
  }

  .nav-dropdown-label i {
    font-size: 30px;
  }

  .background-image {
    background-position: center;
  }

  #social-media a span {
    display: none;
  }

  /* Home Page Introduction styling for small screens */

  .content-background {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .homepage-description {
    padding: 20px;
    border: 5px solid #0b6e4f;
    border-radius: 10px;
    width: 100%;
    height: 900px;
    background-position: center;
    background-size: cover;
    background-color: rgba(211, 211, 211, .6);
  }

  .homepage-description h2 {
    font-size: 160%;
  }

  .homepage-description p {
    font-size: 100%;
    padding-top: 10px;
  }

  #description-image {
    display: none;
  }

  /* Visitor Centre times styling for small screens */

  .visitor-section div {
    flex-direction: column;
  }

  /* Visit Us page styling for small screens */

  .visit-us-section-right,
  .visit-us-section-left {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    font-size: 80%;
    width: 100%;
  }

  .visit-us-text {
    display:flex;
    padding: 10px;
  }

  .visit-us-img {
    display: flex;
    flex-direction: column;
    padding: 5px;
    
  }

  /* Gallery page styling for small screens */

  #photos {
    column-count: 1;
    gap: 7px;
  }

  /* Newsletter page styling for small screens */

  .form-main {
    font-size: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .form-section {
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    padding: 5px;
  }

  .form-section>h2 {
    margin-bottom: 10px;
  }



  #newsletter-form {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .newsletter-description {
    width: 100%;
    padding-bottom: 20px;
  }

}


/* Media Query for 768px and below (tablets, 768px and below) */
@media screen and (max-width: 768px) and (min-width:431px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #073b3a;

  }

  header h1 {
    margin: 5px;
    font-size: 190%;
  }


  nav {
    position: fixed;
    top: 52px;
    left: 0;
    width: 150px;
    background-color: #073b3a;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 2px #073b3a;
    display: none;
    z-index: 99;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav a {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
    margin: 5px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
  }


  #nav-dropdown:checked~nav {
    display: block;
  }

  #nav-dropdown {
    position: absolute;
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
  }

  /* Style the label as a button for tablet sized screens */
  .nav-dropdown-label {
    display: block;
    margin: 10px;
    order: -1;
  }

  .nav-dropdown-label i {
    font-size: 30px;
  }

  .background-image {
    background-position: center;
  }

  /* Home Page Introduction styling for tablet sized screens */

  .content-background {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .homepage-description {
    padding: 20px;
    border: 5px solid #0b6e4f;
    border-radius: 10px;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-color: rgba(211, 211, 211, .6);
  }

  .homepage-description h2 {
    font-size: 180%;
  }

  .homepage-description p {
    font-size: 120%;
    padding-top: 10px;
  }

  #description-image {
    justify-content: flex-end;
    width: 100%;
  }

    /* Visit Us page styling for tablet sized screens */

    .visit-us-section-right,
    .visit-us-section-left {
      display: flex;
      flex-direction: column;
      margin: 5px auto;
      font-size: 80%;
      width: 100%;
    }
  
    .visit-us-text {
      display:flex;
      padding: 10px;
    }
  
    .visit-us-img {
      display: flex;
      flex-direction: column;
      padding: 5px;
      
    }

  /* Gallery page styling for tablet sized screens */
  #photos {
    column-count: 2;
    gap: 7px;
  }

  /* Newsletter page styling for tablet sized screens */

  .form-main {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form-section {
    flex-direction: column;
    text-align: center;
  }

  #newsletter-form {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .newsletter-description {
    width: 100%;
  }

  /* Footer sizing for Tablet sized screen */
  footer {
    padding: 5px;
  }

  #social-media {
    padding: 5px 10px;
  }

  #social-media i {
    font-size: 20px;
    padding: 5px;
  }


}
/* Media Query for 1640px and below (laptops, 1640px and below) */
@media screen and (max-width: 1640px) and (min-width:769px) {

  /* Home Page Introduction styling for laptop sized screens */

  .content-background {
    display: flex;
    margin: 10px;
  }

  .homepage-description {
    padding: 20px;
    border: 5px solid #0b6e4f;
    border-radius: 10px;
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-color: rgba(211, 211, 211, .6);
  }

  .homepage-description h2 {
    font-size: 270%;
    padding-bottom: 15px;
  }

  .homepage-description p {
    font-size: 140%;
    padding-top: 10px;
  }

  #description-image {
    justify-content: flex-end;
    width: 100%;
  }

    /* Visit Us page styling for laptop sized screens */

    .visit-us-section-right,
    .visit-us-section-left {
      display: flex;
      flex-direction: column;
      margin: 5px auto;
      font-size: 80%;
      width: 100%;
    }
  
    .visit-us-text {
      display:flex;
      padding: 10px;
    }
  
    .visit-us-img {
      display: flex;
      flex-direction: column;
      padding: 5px;
      
    }
}