/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Wildcard selector to override default styles given to the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Page Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/* Header */
header {
    background-color: whitesmoke;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index:100;
    box-shadow: 0 2px 2px #073B3A
}

header a {
    text-decoration:none;
    color:#08a045;
}

#menu {
    font-size: 110%;
    list-style-type: none;
}

.active {
    border-bottom: 1px solid #073b3a
}

/* Main Content */
main {
    background-color: gold;
    /* Makes this element take up extra space to push the footer element down page */
    flex: 1 0 auto;

}

/* Footer */
footer {
    background-color: cadetblue;
    padding: 10px;
}